.Vision {
  &Heading {
    padding-bottom: rem(30px);
    text-align: center;
  }
  // text-align: center;
  @media screen and (min-width: sg-breakpoint()) {
    text-align: left;
    display: grid;
    grid-template-columns: 370px 1fr;
  }
}

.Team {
  text-align: center;
  &Cofounders {
    display: grid;
    grid-template-columns: repeat(6, [col] 1fr);
    grid-column-gap: rem(30px);
    grid-row-gap: rem(30px);
    margin-top: rem(30px);
    @media screen and (min-width: sg-breakpoint()) {
      margin-top: rem(100px);
    }
    & > div:nth-child(1) {
      grid-column: col 1 / span 6;
      @media screen and (min-width: sg-breakpoint()) {
        grid-column: col 1 / span 3;
      }
    }
    & > div:nth-child(2) {
      grid-column: col 1 / span 6;
      @media screen and (min-width: sg-breakpoint()) {
        grid-column: col 4 / span 3;
      }
    }
    & > div {
      grid-column: span 6;
      @media screen and (min-width: sg-breakpoint()) {
        grid-column: span 2;
      }
    }
  }
}

.Section {
  padding: rem(30px) 0;
  @media screen and (min-width: sg-breakpoint()) {
    padding: rem(50px) 0;
  }
}

.Investors {
  text-align: center;
  &Logos {
    display: flex;
    flex-direction: column;
    img {
      margin-top: rem(30px);
      align-self: center;
      max-width: rem(130px);
    }
    @media screen and (min-width: sg-breakpoint()) {
      flex-direction: row;
      margin-top: rem(100px);
      justify-content: space-between;
      img {
        max-width: 100%;
      }
    }
  }
}

.Contact {
  @media screen and (min-width: sg-breakpoint()) {
    display: grid;
    padding: rem(100px) 0;
    grid-template-columns: 1fr 1fr;
    grid-row-gap: rem(50px);
  }
  &Details {
    max-width: rem(300px);
    padding-bottom: rem(20px);
    @media screen and (min-width: sg-breakpoint()) {
      padding-bottom: 0;
    }
  }
  &Social {
    grid-row: 2;
    grid-column: 2;
    &Icons {
      margin-top: rem(15px);
      display: grid;
      max-width: rem(300px);
      grid-template-columns: repeat(5, 1fr);
      grid-column-gap: 30px;
    }
  }
}

.JobCard {
  display: flex;
  text-align: left;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  border-radius: 6px;
  width: 100%;
  min-height: rem(600px);
  padding-left: sg-spacing();
  // border: 3px solid sg-color(sky);
  min-height: rem(500px);
}
